# Ignore settings.json
settings.json

# Ignore Python bytecode files and directories
__pycache__/
*.py[cod]
*$py.class

# Ignore test directories
tests/

# Ignore virtual environment directories
venv/
env/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore compiled C extensions
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore mypy type checker reports
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Ignore distutils build directory
build/

# Ignore distribution packages
dist/